/* TabNav */
.tab_wrapper {
    margin-top: 30px;
}
.tab_nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab_nav .tab_nav_item {
    margin: 0 20px;
}
.tab_nav .tab_nav_item a {
    font-size: 30px;
    font-weight: 400;
    position: relative;
    color: var(--font-color01);
}
.tab_nav .tab_nav_item a.active {
    font-weight: 700;
    color:var(--secondary-color);
}
.tab_nav .tab_nav_item a.active::after {
    content: '';
    position: absolute;
    background-color: #ea3903;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    margin: auto;
}

/* Contents */