.nav {
    height: 100px;
    background-color: var(--bg-contents);
}
.nav_items {
    width: 100%;
    display: flex;
    overflow: hidden;
}
.nav_item {
    width: calc(100% / 6);
    text-align: center;
}
.nav_item a,
.nav_item a span {
    display: block;
}
.nav_item .nav_img {
    position: relative;
    height: 65px;
}
.nav_item .nav_img img {
    display: block;
    position: absolute;
    top: 10px; left: 0; right: 0;
    margin: 0 auto;
}
.nav_item a span {
    font-size: 22px;
    font-weight: 500;
    color: var(--font-color01);
}


/* clicked */
.nav_item a.clicked img {
    top: -82px !important;
}
.nav_item a.clicked span {
    color: var(--secondary-color);
}